.section {
    font-family: poppins;
    background: rgb(5, 37, 0);
    background: linear-gradient(90deg, rgba(5, 37, 0, 1) 50%, rgba(23, 89, 14, 1) 100%);
    padding: 10px 0px;
    height: 100vh;
}

.table {
    text-align: center;
    --bs-table-color: #fff;
    --bs-table-bg: transparent;
    --bs-table-hover-color: #31d413;
    border-style: dashed;
}

.table > tr {
    border: 1px dashed #f2feef;
}