@if (loading) {
    <h5>Loading...</h5>
  }
  
  @if (!loading) {
  <section class="section">
      <div class="container">
      <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Nombre</th>
              <th scope="col">Edad</th>
              <th scope="col">Estado</th>
              <th scope="col">Dueño</th>
              <th scope="col">Contacto</th>
            </tr>
          </thead>
          <tbody>
              @for (cattle of listCattles; track $index) {
                  <tr>
                  <th scope="row">{{ cattle.idCattle }}</th>
                  <td>{{ cattle.nombre }}</td>
                  <td>{{ cattle.edad }}</td>
                  <td>{{ cattle.estado }}</td>
                  <td>{{ cattle.nombreOwner }}</td>
                  <td>{{ cattle.contacto }}</td>
                  <td><button type="button" class="btn btn-outline-primary" (click)="navegate(cattle.idCattle)">Details</button></td>
                  </tr>
              }
          </tbody>
        </table>
  </div>
  </section>
  }